body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff6600;
  color: white;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

.search-container {
  margin-top: 1rem;
}

#searchInput {
  padding: 0.5rem;
  width: 300px;
  border: none;
  border-radius: 5px;
}

#schedule {
  padding: 2rem;
}

.schedule-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
}

.time {
  width: 150px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #ff6600;
}

.details {
  flex: 1;
}

.details h2 {
  margin: 0 0 0.5rem 0;
  color: #ff6600;
}

.speakers {
  font-style: italic;
  margin-bottom: 1rem;
}

.category {
  display: inline-block;
  background-color: #ff6600;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.description {
  line-height: 1.6;
}

.lunch-break {
  background-color: #333;
  color: white;
  text-align: center;
}

.lunch-break h2 {
    color: white;
}
